.jumbotron{    
    background-image:url("../images/everyday1.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   color:maroon;
}

#currentDate{
    font-size: 4em;
}

#currentTime{
    font-size: 8em;
}

body{
background-color:#FFE4B5;
}
