body{
    background-image:url("../images/background.png");    
    color:antiquewhite;
    }

#dashBoardheader{
    margin-top:0.5em;
    color:aquamarine;
    font-size:5em;
    z-index:10;
    text-align: center;
}

#currentDate{
    font-size: 2em;
    color:#FFFF00;
    font-weight: bold;
}

#currentTime{
    text-align: center;
    border-radius: 25px;
    font-size: 4em;
    background-color: grey;
    color:black;
    font-weight: bold;
    padding:0px;
}

#facts{
    margin-top:1em;padding:1em;
    border-radius:25px;
    background-image:url('../images/facts.gif');
    background-size:cover;
    color:black;
    font-weight:bold;
}

#factsHeading{
    text-align:center;
    font-size:2em;
    font-weight:bold;
    font-family: 'Kaushan Script', cursive;
    text-decoration: underline;
}

#currentCity{
    background-color:blueviolet;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    color:pink;
}

#currentWeather{
    display:inline; 
    margin-left:2em;
    color:red;
    font-weight:bold;
} 

#currentDescription{
    display:inline;
    color:red;
}
                
#chartContainer{
    width:100%;
    max-height:100%;
    margin-top:0.5em;    
}

li{
font-family: 'Advent Pro', sans-serif;
}

#newsHeader{
    font-size: 30px;
    background-color:palevioletred;
    font-weight:bold;
    text-align: center;
    color:blue;
    margin-top:1.1em;
    border-radius:25px;
    padding:0.1em;
    font-size: 1.5em;
}

#newsBody {
    margin-top: 4em;
    margin-bottom: 2em;
    border-radius: 25px;
}

h5 {
    color: black;
}

.articleHeadline {
    color: black;
    font-weight: bold;
    font-size: 1.2em;
}

#currentWS {
    color: white;
}

#humidity {
    color: white;
}

.list-group {
    color: rgb(0, 0, 0);
}
